

// .example-icon:hover{
//     background-color: white;
// }
 #title{
    font-size: 25px;
    color: #FF6A6A ;
    text-align: center;
}
.my_cart
{
    display: flex;
    text-align: center;
    margin-right: 20px;
    padding: 0 20px ;
}



