  <div class="main">
    <div class="products" *ngFor="let p of icecreamSrvc.product">
      <h1 id="names"> {{p.name}}</h1>
      <img [src]="p.img" alt="Photo of Ice Cream">
      <h3>{{p.sub}} </h3>
      <p>{{p.price | currency: "VND" }} VND</p>
      <p id="solds" *ngIf="p.inStock == 0">Hết hàng </p>
     <div *ngIf="p.inStock !== 0">
        <button  (click)="this.icecreamSrvc.add(p)" id="button"> Mua hàng </button>
      </div>
      <div *ngIf="p.inStock === 0"> 
       <button disabled id="button"> Hết Hàng </button>
      </div>
    </div>
  </div>


