


 #title{
    font-size: 25px;
    color: #FF6A6A ;
    text-align: center;
}
.my_cart
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: auto;
}

button {
    display: flex;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    transition: 0.5s;
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);
    cursor: pointer;
   background-color: wheat;
}

